FROM python:3.11-slim

ENV VENV_PATH=/opt/venv
RUN python -m venv ${VENV_PATH}
ENV PATH="${VENV_PATH}/bin:${PATH}"

WORKDIR /app

RUN pip install --upgrade pip setuptools wheel

COPY requirements.txt ./
RUN pip install \
    --no-cache-dir \
    --default-timeout=300 \
    --retries=10 \
    -r requirements.txt

COPY main.py agent.py README.md ./

CMD ["python", "main.py"]
