# Environment Configuration
ENV="{{env}}"  # Environment: production or development

# API Keys
AGENTVERSE_API_KEY="{{agentverse_api_key if agentverse_api_key else ''}}"  # Your Agentverse API Key
# Agent Configuration
AGENT_NAME="{{agent_name}}"  # Name of the agent
AGENT_SEED_PHRASE="{{agent_seed_phrase}}"  # Seed phrase for agent initialization
AGENT_PORT="{{agent_port}}"  # Port on which the agent will run
AGENT_ROUTE="{{agent_route}}"  # Route for accessing the agent
AGENT_HANDLE="{{safe_name}}"  # Unique handle for the agent

# Hosting Configuration
HOSTING_ENDPOINT="{{hosting_endpoint}}"  # Endpoint for hosting the agent
